.navbar {
    background-color: white !important;
    height: 100px;
    .job-search {
      font-weight: bold;
    }
  
    .navbar-collapse {
        color: black;
        font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  